<!DOCTYPE HTML>
<html lang="en">

<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Layout</title>
    <th:block th:fragment="header">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
                shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
        <link rel="stylesheet" type="text/css" href="/css/unittwofrq.css">
        <link rel="stylesheet" type="text/css" href="/css/exams.css">

        <!-- CDNs -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
            integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Full Calendar CSS + JS -->
        <link href='/fullcalendar/main.css' rel='stylesheet' />
        <script src='/fullcalendar/main.js'></script>
    </th:block>
</head>

<body>
</body>

</html>