<!DOCTYPE HTML>
<html lang="en">
    <head xmlns:th="http://www.w3.org/1999/xhtml">
        <title>Layout</title>
        <th:block th:fragment="header">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1,
                shrink-to-fit=no">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
                />

            <!-- Stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" type="text/css" href="/css/nav.css">
            <link rel="stylesheet" type="text/css" href="/css/unittwofrq.css">

            <!-- CDNs -->
            <script src="https://cdn.tailwindcss.com"></script>
        </th:block>
    </head>
    <body>
    </body>
</html>
