:root {
    --light-theme-text: #313638;
    --dark-theme-text: #ffffff;
    --blue: #52A0E0;
  }
  
  .calendar {
      margin: 0 10%;
  }
  
  .heading{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      color: #52A0E0;
  }

  .description{
      margin-left: 142px;
      margin-right: 142px;
      text-align: center;

  }

  .blue-dcurve-btn {
    background-color: var(--blue);
    padding: 7px 25px;
    color: white;
    border-radius: 30px 5px;
    font-size: 20px;
  }

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgba(238, 238, 238, 0.5);
}