@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --light-theme-text: #313638;
  --dark-theme-text: #ffffff;
  --blue: #52A0E0;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--light-theme-text);
}

button {
  font-family: "Lato", sans-serif;
}

.blue-span {
  color: var(--blue);
}

.blue-dcurve-btn {
  background-color: var(--blue);
  padding: 7px 25px;
  color: white;
  border-radius: 30px 5px;
  font-size: 20px;
}
