.container {
    /* background-color: green; */
    margin-left: 40px;
    margin-right: 40px;
}

.left {
    float: left;
}

.right {
    background-color: blue;
    float: right;
}

.blue-button {
    background-color: #52a0e0;
}

.name {
    font-size: 60px;
}

.subtitle {
    font-size: 30px;
}

.description {
    font-size: 15px;
}

.social-icon {
    margin: 5px;
}