.main-text{
    text-align: center;
}

.container {
    text-align: center;
}

.part-e{
    border-width: 4px;
    margin: 10px;
}

.part-f{
    border-width: 4px;
    margin: 10px;
}

.image{
    text-align: center;
    margin: 10px;
}