<!DOCTYPE html>
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{fragments/layout}"
  lang="en"
>
  <head>
    <div layout:fragment="metadata" th:remove="tag">
      <title>The Nest - About Alvin</title>
    </div>
  </head>

  <body>
    <div layout:fragment="content" th:remove="tag">


        <div style="text-align: center; width: 60em; margin: auto">
          <h1><b>Add person</b></h1>
          <br />
          <div>
            <div class="">
                <button >Get user data</button>
                
              <!-- <h1>
                Add person by adding name into the text box
              </h1>

              <br />
              <h1>Add name below</h1>

              <div class="frq-content">
                <form action="/addperson" method="GET" id="addperson">
                  <div class="frq-form">
                    <p for="frqField">Type in your segment to remove</p>
                    <br />
                    <input
                      style="background-color: lightblue"
                      name="segment"
                      id="frqField"
                    />
                    <br />
                    <button>Run!</button>
                    <br />
                    <p
                      th:text="'New Sequence: ' + ${newSeq} +
                                    '!'"
                    ></p> -->
                  </div>
                </form>
              </div>
              <br />
    </div>
  </body>
</html>
