<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>The Nest - Bell Schedule</title>
    </div>
</head>

<body>
<h1>DNHS Daily Bell Schedule</h1>
<br>
<div layout:fragment="content" th:remove="tag">
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img id="maskImage" class="w-3/4" src="/img/schedule0.png" />
        </div>
        </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule1.png" />
        </div>
        </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule2.png" />
        </div>
        </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule3.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule4.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule5.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule6.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule7.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule8.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule9.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule10.png" />
        </div>
    </div>
    <div class="flex flex-row w-full h-full items-center">
        <div class="grow w-32 flex">
            <img  class="w-3/4" src="/img/schedule11.png" />
        </div>
    </div>

</div>
</body>
</html>
