<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{fragments/layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>The Nest - Club and Tutorial Calendar</title>
    </div>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="heading">
            <h1>Club and Tutorial Calendar</h1>
        </div>

        <br>

        <div class="description">
            <h3>On this page, you can see the daily schedule of tutorials and see which teacher is available. <br>
                After that, you can also view a list of clubs that are meeting today, the timings, location, and other
                important details.</h3>

            <br>

            <div id="authorizationForm" class="frq-content">
                <form action="/clubandtutorial" method="GET" id="frqForm">
                    <div class="frq-form">
                        <p for="frqField">Type in your Password</p>
                        <input style="background-color: lightblue;" name="password" id="frqField" type="password"
                            value="Password">
                        <br />
                        <button class="buttons">Submit</button>
                        <br />
                    </div>
                </form>
            </div>

            <br />

            <div id="createEventDiv">
                <form id="createEventForm" style="padding-top: 5px;">
                    <input id="titleId" placeholder="Title" type="text" name="title">
                    <input id="dateId" placeholder="Data" type="text" name="start">
                </form>

                <button onclick="makeEvent()" class="blue-dcurve-btn my-2.5">Click here to add an event</button>
            </div>
        </div>

        <br>
        <br>

        <div id='calendar' class="calendar"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var authorized = /*[[${passwordMessage}]]*/ false
            /*]]>*/
            console.log("authorized:", authorized)
            if (authorized) {
                alert("You are granted admin permissions")
                document.getElementById("createEventDiv").style.display = "block"
                document.getElementById("authorizationForm").style.display = "none"
            }
            else {
                document.getElementById("createEventDiv").style.display = "none"
                document.getElementById("authorizationForm").style.display = "block"
            }

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                initialDate: '2022-02-07',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                // events: [
                //     {
                //         title: 'All Day Event',
                //         start: '2022-02-01'
                //     },
                //     {
                //         title: 'Long Event',
                //         start: '2022-02-07',
                //         end: '2022-02-10'
                //     },
                //     {
                //         groupId: '999',
                //         title: 'Repeating Event',
                //         start: '2022-02-09T16:00:00'
                //     },
                //     {
                //         groupId: '999',
                //         title: 'Repeating Event',
                //         start: '2022-02-16T16:00:00'
                //     },
                //     {
                //         title: 'Conference',
                //         start: '2022-02-11',
                //         end: '2022-02-13'
                //     },
                //     {
                //         title: 'Meeting',
                //         start: '2022-02-12T10:30:00',
                //         end: '2022-02-12T12:30:00'
                //     },
                //     {
                //         title: 'Lunch',
                //         start: '2022-02-12T12:00:00'
                //     },
                //     {
                //         title: 'Meeting',
                //         start: '2022-02-12T14:30:00'
                //     },
                //     {
                //         title: 'Birthday Party',
                //         start: '2022-02-13T07:00:00'
                //     },
                //     {
                //         title: 'Click for Google',
                //         url: 'http://google.com/',
                //         start: '2022-02-28'
                //     }
                // ]
            });
            calendar.render();


            var debugEvent = {
                title: 'The Title',
                start: '2022-02-16',
                end: '2022-02-19'
            }

            function makeEvent() {
                alert("Your event was saved!")
                var calendarEvent = {
                    title: document.getElementById().value,
                    start: document.getElementById("dateId").value,
                    end: document.getElementById("dateId").value
                }
                console.log(calendarEvent)
                calendar.addEvent(calendarEvent)
            }
            // })
            // document.addEventListener('DOMContentLoaded', function () {
            //     var calendarEl = document.getElementById('calendar');
            //     var calendar = new FullCalendar.Calendar(calendarEl, {
            //         initialView: 'dayGridMonth'alendar.render();
            // });

        </script>
    </div>
</body>

</html>