<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{fragments/layout}" lang="en">

  <head>
    <div layout:fragment="metadata" th:remove="tag">
      <title>The Nest - Calendar</title>
    </div>
  </head>

  <body>
    <div layout:fragment="content" th:remove="tag">
      <div>
        <form action="/exams" method="GET" id="addEvent">
          <div class="frq-form">
            <br />
            <input name="examNameField" id="addEvent" placeholder="Exam Name (ex. Unit 2 Exam)">
            <br />
            <input name="classNameField" id="addEvent" placeholder="Class Name (ex. AP Calculus BC)">
            <br />
            <input name="teacherField" id="addEvent" placeholder="Teacher (ex. Mr. Smith)">
            <br />
            <input name="classPeriodField" id="addEvent" placeholder="Class Period (ex. 2)">
            <br />
            <input name="examDateField" id="addEvent" placeholder="Exam Date (ex. 2022-02-04)">
            <br />
            <!-- <button onclick="addExam()">Add Event</button> -->
            <!-- <button th:onclick="addExam('${examName}', '${className}',
              '${classPeriod}',
              '${teacherField}')">Add Event</button> -->
            <button th:attr="onclick=|addExam('${examName}', '${className}',
              '${classPeriod}',
              '${teacher}', '${examDate}')|">Add Event</button>
          </div>
        </form>
            <!-- <button th:attr="onclick=|addExam('${examName}', '${className}',
              '${classPeriod}',
              '${teacher}')|">Add Event</button> -->
        <!-- <button th:onclick="addExam('${examName}', '${className}',
          '${classPeriod}',
          '${teacherField}')">Add Event</button> -->
      </div>

      <div class="calendar" id='calendar'></div>

      <script>
      // document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2022-02-07',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },

          // events: [
          //   {
          //     title: 'All Day Event',
          //     start: '2022-02-01'
          //   },
          //   {
          //     title: 'Long Event',
          //     start: '2022-02-07',
          //     end: '2022-02-10'
          //   },
          //   {
          //     groupId: '999',
          //     title: 'Repeating Event',
          //     start: '2022-02-09T16:00:00'
          //   },
          //   {
          //     groupId: '999',
          //     title: 'Repeating Event',
          //     start: '2022-02-16T16:00:00'
          //   },
          //   {
          //     title: 'Conference',
          //     start: '2022-02-11',
          //     end: '2022-02-13'
          //   },
          //   {
          //     title: 'Meeting',
          //     start: '2022-02-12T10:30:00',
          //     end: '2022-02-12T12:30:00'
          //   },
          //   {
          //     title: 'Lunch',
          //     start: '2022-02-12T12:00:00'
          //   },
          //   {
          //     title: 'Meeting',
          //     start: '2022-02-12T14:30:00'
          //   },
          //   {
          //     title: 'Birthday Party',
          //     start: '2022-02-13T07:00:00'
          //   },
          //   {
          //     title: 'Click for Google',
          //     url: 'http://google.com/',
          //     start: '2022-02-28'
          //   }
          // ],

          eventDidMount: function(info) {
            console.log(info.event._def.title)
          },

          eventMouseEnter: function(calEvent, jsEvent) {
            console.log("hover enter")
          },

          eventMouseLeave: function() {
            console.log("hover leave")
          },
        });

        function addExam(examName, className, classPeriod, teacher, examDate) {
          console.log("add exam")
          calendar.addEvent( 
            {
              title: "Period " + classPeriod + " " + examName + " for " + teacher + "'s " + className + " Class",
              start: examDate,
            },
          );
        }

        calendar.render();
      // });
    </script>
    </div>
  </body>

</html>