<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{fragments/layout}" lang="en">
    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>The Nest</title>
        </div>
    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">
            <div class="flex flex-row w-full h-full items-center">
                <div class="grow w-48 h-full flex justify-center items-center">
                    <div class="w-3/4">
                        <p class="my-5 text-6xl font-semibold">Welcome to <span class="blue-span">The Nest</span></p>
                        <p class="my-5 text-4xl">Resources for students, by students.</p>
                        <p class="my-2.5 text-2xl">Campus resources suck. The Nest is built by Del Norte
                            students who understand the needs and wants of all
                            Nighthawks.</p>
                        <button class="blue-dcurve-btn my-2.5">See More</button>
                    </div>
                </div>
                <div class="grow w-48 flex justify-center">
                    <img class="w-3/4" src="/img/campus.png">
                </div>
            </div>
        </div>
    </body>
</html>
