<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{fragments/layout}" lang="en">
    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>The Nest</title>
        </div>
    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">
            <div class="flex flex-row w-full h-full items-center">
                <div class="grow w-48 h-full flex justify-center items-center">
                    <div class="w-3/4">
                        <p class="my-5 text-6xl font-semibold">Welcome to <span
                                class="blue-span">The Nest</span></p>
                        <p class="my-5 text-4xl">Resources for students, by
                            students.</p>
                        <p class="my-2.5 text-2xl">Campus resources suck. The
                            Nest is built by Del Norte
                            students who understand the needs and wants of all
                            Nighthawks.</p>
                        <button class="blue-dcurve-btn my-2.5">See More</button>
                    </div>
                </div>
                <div class="grow w-48 flex justify-center">
                    <img class="w-3/4" src="/img/campus.png">
                </div>
            </div>
            <div class="w-3/4 flex flex justify-center weekly-calendar">
                <div class="w-full m-auto">
                    <iframe frameborder="0" height="800" rel="noopener
                        noreferrer"
                        scrolling="no"
                        src="https://calendar.google.com/calendar/b/0/embed?title=Del%20Norte%20High%20School&amp;showPrint=0&amp;showTabs=0&amp;mode=AGENDA&amp;height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=14agoavnc7vnfnkonka36dtijg%40group.calendar.google.com&amp;color=%230F4B38&amp;src=nslaqh24sj8gh62ir3bq1i8t94%40group.calendar.google.com&amp;color=%23333333&amp;src=uvm7vigoud9i452s81l8n6u4pk%40group.calendar.google.com&amp;color=%23060D5E&amp;src=ilvea2g7am13gdvdl15q3qj8ig%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles"
                        style="border-width:0" width="100%"></iframe>
                </div>
            </div>
        </div>
    </body>
</html>
