<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{fragments/layout}" lang="en">
    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Unit 2 FRQ</title>
        </div>
    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">
            <div class="container">
                <div class="main-text">
                    <h1>Unit 2 FRQ - All Group Members found the Same Solutions</h1>
                    <br>
                    <h1> Parts a-d were simply coding exercises which is why images of the solutions are shown. <br> Problems e and f take user input </h1>
                </div>

                <br>

                <img src="/img/frqp1.png">
                <img src="/img/frqp2.png">
                <img src="/img/frqp3.png">

                <br>
                <div class = "part-e">
                <h1>Part e: Assume that the string oldSeq has been properly
                    declared and
                    initialized and contains the string segment. Write a code
                    segment
                    <br>that will remove the first occurrence of segment from oldSeq
                    and
                    store it in the string newSeq. Consider the following
                    examples.</h1>

                <br>
                <h1> This is the old sequence: 0011 0011 0011 <h1>

                        <div class="frq-content">
                            <form action="/UnitTwoFrq" method="GET"
                                id="frqForm">
                                <div class="frq-form">
                                    <p for="frqField">Type in your segment to
                                        remove</p>
                                    <br />
                                    <input style="background-color: lightblue;"
                                        name="segment" id="frqField">
                                    <br />
                                    <button>Run!</button>
                                    <br />
                                    <p th:text="'New Sequence: ' + ${newSeq} +
                                        '!'"></p>
                                </div>
                            </form>
                        </div>

                        <br>
                    </div>

                    <div class = "part-f">
                        <h1>Part f: Two lights will be arranged on a
                            two-dimensional plane. The vertical distance
                            between the two lights is stored in the double
                            variable a. The horizontal distance <br> between
                            the two lights is stored in the double variable b.
                            The straight-line distance between the two lights
                            is given by the formula square root of the quantity <br>
                            a squared plus b squared. Write a code segment that
                            prints the straight-line distance between the two
                            lights according to the formula above.</h1>

                        <br>

                        <form action="/UnitTwoFrq" method="GET" id="frqForm">
                            <div class="frq-form">
                                <p for="frqField">Type in your values for a and
                                    b</p>
                                <br />
                                <input style="background-color: lightblue;"
                                    name="a" id="frqField">
                                <input style="background-color: lightblue;"
                                    name="b" id="frqField">

                                <br />
                                <button>Run!</button>
                                <br />
                                <p th:text="'Answer: ' + ${answer} + '!'"></p>
                            </div>
                        </form>

                        
                    </div>
                    <br>
                    <h1 class = "main-text">Coding Work in Repo for Questions a-d (not taking user input)</h1>

                    <br>

                    <div class = "image">
                    <img src = "/img/unit2frqcode.png">
                    </div>

                    </div>

                    <br>
                </div>
            </body>
        </html>
